body{
    margin: 0;
    background-color: gray;
}
.pg-header{
    background-color: #d2bf9d;
    height: 48px;
}
.pg-header{
    line-height: 48px;
}
.pg-header .header-left{
    color: red;
    text-align: center;
    width: 250px;
    font-size: 33px;
    float: left;
}
.pg-header .header-right{
    height: 48px;
    float: right;
    position: relative;
    margin-right: 39px;
    margin-left: 10px;
}
.pg-header .header-right:hover{
    background-color: #bfa068;
}
/*多个hover时的语法*/
.pg-header .header-right:hover .show_t{
    display: block;
}
.pg-header .header-right a img{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
}
.pg-header .header-right .portrait-pull-down{
    position: absolute;
    top: 48px;
    right: 40px;
    z-index: 10;
    background-color: #8fb48a;
    width: 100px;
}
.pg-header .header-right .hide{
    display: none;
}
.pg-header .header-right .portrait-pull-down a{
    display: block;
}
.pg-header .ico_float{
    float: right;
    padding: 0 30px;
}
.pg-header .ico_float .font1{
    background-color: green;
    padding: 0px 5px;
    border-radius: 50%;
}
.pg-content .left-menu{
    background-color: #ebb5e3;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 250px;
}
.pg-content .right-content{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 250px;
    overflow: auto;    /*左侧菜单栏随右侧内容区域的高度变化*/
    min-width: 980px;    /*缩小窗口时到达最小宽度出现水平滚动条*/
    z-index: 9;
}
.pg-content .right-content .bg-color{
    background-color: #d2cece;
}
.pg-content .right-content .bg-color p{
    margin-top: 0;
}