<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="i1" style="width: 300px;height: 500px;overflow: auto;">
    <div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div>
    <div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div>
    <div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div>
    <div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div>
    <div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div><div>asdfas</div>
</div>

<script src="../static/jquery/jquery-3.2.1.js"></script>
<script>
    $(window).scrollTop();    //获取window窗口的滚动条
    $(window).scrollTop(200);    //设置window窗口的滚动条

    $('#i1').scrollTop();    //获取div窗口的滚动条
    $('#i1').scrollTop(0);    //设置div窗口的滚动条滚动到最上边

    $('#i1').offset();    //获取标签的水平、垂直坐标
    $('#i1').position();    //指定标签相对父标签标签的坐标
</script>
</body>
</html>