<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
 </head>
<body style="margin: 0 auto">
<div style="background-color: #d9d5d5;height: 40px">
    <div style="width: 100%;margin: 0 auto;text-align: center;line-height: 40px;font-weight: 300;">
        <div style="float: left;width: 5%;">
            <span>*收藏本站</span>
        </div>
        <div style="float: left;width: 95%;text-align: right;">
            <span style="margin: 15px;">登录</span>
            <span style="margin: 15px;">注册</span>
            <span style="margin: 15px;">我的订单</span>
            <span style="margin: 15px;">我的收藏</span>
            <span style="margin: 15px;">VIP会员俱乐部</span>
            <span style="margin: 15px;">客户服务</span>
            <span style="margin: 15px;">关注</span>
            <span style="margin: 15px;">手机版</span>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div style="background-color: white;height: 100px;">
    <div>
        <div style="float: right;margin-left: 160px;margin-right: 120px;">
            <img src="../static/images/shop/shop_shoppingcar.png" style="margin-top: 21px;"/>
        </div>
        <div style="float: right;margin-top: 15px;">
            <div style="float: left; margin-top: 10px;">
                <input type="text" style="height: 25px;width: 400px;"/>
                <span style="display: block;font-size: 13px;margin-top: 3px;">
                    热门搜索：火龙果 瓜子
                </span>
            </div>
            <div style="float: left;margin-top: -21px;">
                <img src="../static/images/shop/shop_search.png" style="margin-top: 30px;">
            </div>
        </div>
        <div style="float: right;margin-right: 200px;">
            <img src="../static/images/shop/shop_thanksgiving.png" style="margin: 10px;"/>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div style="background-color: #c13535;height: 50px;">
    <div style="color: white;line-height: 50px;margin: 0 auto;width: 100%;">
        <div style="float: left;margin-left: 5%;">
            全部商品分类
        </div>
        <div style="float: left;margin-left: 10%">
            <span style="margin-left: 20px;">首页</span>
            <span style="margin-left: 20px;">网上超市</span>
            <span style="margin-left: 20px;">水果超市</span>
            <span style="margin-left: 20px;">超级订餐</span>
            <span style="margin-left: 20px;">生活娱乐</span>
            <span style="margin-left: 20px;">休闲体育</span>
        </div>
        <div style="float: left;margin-left: 25%;margin-right: 10%">
            <span style="margin-left: 20px;">研究院</span>
            <span style="margin-left: 20px;">科学院</span>
            <span style="margin-left: 20px;">达摩院</span>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div style="margin: 0 auto;">
    <div  style="float: left;width: 20%;margin: 0 auto;height: 300px;">
        <div style="margin-left: 70px;">
            <div>
                <table style="border: 1px solid red;width: 80%;">
                    <tr>
                        <td style="border-bottom: 1px dotted black;">
                            <span style="display: block;margin-top: 8px;font-size: 17px;font-weight: 600;">
                                南方水果
                            </span>
                            <span style="display:block;margin-top: 5px;margin-bottom: 3px;">
                                火龙果 火龙果 火龙果
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px dotted black;">
                            <span style="display: block;margin-top: 8px;font-size: 17px;font-weight: 600;">
                                南方水果
                            </span>
                            <span style="display:block;margin-top: 5px;margin-bottom: 3px;">
                                火龙果 火龙果 火龙果
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px dotted black;">
                            <span style="display: block;margin-top: 8px;font-size: 17px;font-weight: 600;">
                                南方水果
                            </span>
                            <span style="display:block;margin-top: 5px;margin-bottom: 3px;">
                                火龙果 火龙果 火龙果
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px dotted black;">
                            <span style="display: block;margin-top: 8px;font-size: 17px;font-weight: 600;">
                                南方水果
                            </span>
                            <span style="display:block;margin-top: 5px;margin-bottom: 3px;">
                                火龙果 火龙果 火龙果
                            </span>
                        </td>
                    </tr>
                     <tr>
                        <td style="border-bottom: 1px dotted black;">
                            <span style="display: block;margin-top: 8px;font-size: 17px;font-weight: 600;">
                                南方水果
                            </span>
                            <span style="display:block;margin-top: 5px;margin-bottom: 3px;">
                                火龙果 火龙果 火龙果
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="display: block;margin-top: 8px;font-size: 17px;font-weight: 600;">
                                南方水果
                            </span>
                            <span style="display:block;margin-top: 5px;margin-bottom: 3px;">
                                火龙果 火龙果 火龙果
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 5px;">
                <table style="border: 1px solid red;width: 80%">
                    <tr  style="background-color: #c13535">
                        <td style="text-align: center;">
                            热销排行榜
                        </td>
                    </tr>
                    <tr>
                        <td>
                            火龙果
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="float: left;width: 80%;height: 300px;margin-top: 30px;width: 75%">
        <div>
            <span>
                电子产品>手机>小苹果
            </span>
            <div  style="border-top: 2px solid red;border-bottom: 1px dotted black;border-left: 1px dotted black;border-right: 1px dotted black;margin-top: 8px;">
                <table>
                    <tr style="margin-top: 20px;border-bottom: 1px dotted black;">
                        <td>
                            <span style="font-size: 15px;font-weight: 600;">您已选择：</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 15px;font-weight: 600;margin-left: 30px;">材质：</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 15px;font-weight: 600;margin-left: 30px;">品牌：</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 15px;font-weight: 600;margin-left: 30px;">风格：</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                            <span style="margin-left: 30px;font-weight: 200;">苹果</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="border: 1px;height: 300px;margin-top: 20px;">
            <div>
                排序功能
            </div>
            <div style="margin: 0 auto;margin-top: 10px;">
                <div style="display: block;background-color: purple;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
                <div style="display: block;background-color: pink;height: 200px;width: 200px;float: left;margin-left: 80px;margin-top: 20px;margin-bottom: 20px;text-align: center;line-height: 200px;">展示图片</div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
</body>
</html>