<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/define.css"/>
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css"/>
    <script type="text/javascript" src="../static/js/T1.js"></script>
    <style>

    </style>
</head>
<body>
<div class="pg-header">
    <div class="header-left">
        LOGO
    </div>

    <div class="header-right">
        <a class="portrait-a" href="#">
            <img src="../static/images/fish.png"/>
        </a>
        <div class="portrait-pull-down hide show_t">
            <a href="#">我的资料</a>
            <a href="#">查看积分</a>
            <a href="#">退出登录</a>
        </div>
    </div>

    <div class="ico_float">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <span class="font1">8</span>
    </div>

    <div class="ico_float">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
    </div>
</div>

<div class="pg-content">
    <div class="left-menu"></div>
    <div class="right-content">
        <div class="bg-color">
            <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
            <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
            <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
        </div>
    </div>
</div>
<div class="pg-right">
</div>
</body>
</html>
