<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bxslider-4-4.2.12/dist/jquery.bxslider.css">
</head>
<body>

<div class="slider">
    <div><img src="../static/images/slider/slider1.jpg"/></div>
    <div><img src="../static/images/slider/slider2.jpg"/></div>
    <div><img src="../static/images/slider/slider3.jpg"/></div>
</div>

<script src="../static/jquery/jquery-3.2.1.js"></script>
<script src="../static/bxslider-4-4.2.12/dist/jquery.bxslider.js"></script>
<script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
</script>
</body>
</html>